<div class="panelLogin">
    <section class="panBack" >

<%= form_tag sessions_path :class => 'logoLogin' do %>
  <div class="logoLogin">
    <img src="img/imgLogo.svg" alt="Syrat" class="imgLogo center">
  </div>

  <div class="inlineCont" style="width:250px">
    <%= text_field_tag :userName, params[:userName], :placeholder => 'USUARIO' %>
  </div>
  <div class="inlineCont" style="width:250px">
    <%= password_field_tag :password %>
  </div>
  <div>
  <label>
    <input type="checkbox" class="ios-switch green" /><div><div></div></div>
  </label>
  </div>
  <div class="botLogin"><%= submit_tag "", :class => 'goButton'%></div>
  <% end %>
  </section>

  </div>
